.navbar {
    background-color: #AB7743 !important;
}
.nav-item{
    margin-left: 30px;
    padding: 4px;
}
#container{
    width:100%;
}
.hero{
    height:630px;
    background-image: url("Images/pexels-helloaesthe-8717959.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    
}

.heading h1{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 3.3em;
    
}
.heading p{
    color:white;
    font-size: 1.2em;
}
.heading{
    width:460px;
    position: absolute;
    top: 40%;
    left: 32%;   /* move slightly right */
    transform: translate(-90%, -20%);
}
/* ================= OUR SERVICES SECTION ================= */

.services {
    background-color: #B08968;
    padding: 40px 0;
    color: white;
}

/* Section Title */
.services h2 {
    font-size: 34px;
    margin-bottom: 50px;
    text-align: center;
}

/* Content Wrapper */
.services-content {
    max-width: 1100px;     /* Slightly wider for 4 items */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 in one row */
    gap: 30px;
    text-align: center;
}

/* Individual Service */
.services-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

.services-content p {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}
@media (max-width: 992px) {
    .services-content {
        grid-template-columns: repeat(2, 1fr); /* 2 per row on tablet */
    }
}

@media (max-width: 576px) {
    .services-content {
        grid-template-columns: 1fr; /* 1 per row on mobile */
    }
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 2.2rem;
    }

    .heading p {
        font-size: 1rem;
    }
}
.drink-card {
  height: 350px;
}

.drink-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  text-align: center;
  height: 100%;
}
